/*
    colors
    bg  #000
    orange #ff9501
    grey #a6a6a6
    white #fdfdfd
*/

.calc {
    margin: 50px auto;
    width: 300px;
    height: 500px;
    boarder: 1px solid #000;
    boarder-radius: 20px;
    background: #000;
    color: #fff;
    font-family: Arial;
    padding: 18px;
    box-shadow: 4px 4px 4px #4f4f4f;
}

.screen {
    height: 125px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
    margin-bottom: 25px;
}

.screen p {
    text-align: right;
    font-size: 4rem;
    margin: 0;
}

.buttons {
    display: grid;
    grid-template-areas:
    "ac plus-minus percent division"
    "seven eight nine multiply"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal";
    grid-gap: 7px;
    justify-items: center;
}

.calc-btn {
    width: 60px;
    height: 60px;
    background: #333;
    border-radius: 30px;
    overflow: hidden;
    perspective: 1px;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.calc-btn.zero {
    grid-area: zero;
    width: 100%;
    boarder-radius: 34px;
}

.calc-btn:hover {
    filter: brightness(120%);
}

.calc-btn:active {
    filter: brightness(90%);
}

.calc-btn.bg-grey {
    background: #8d8fc7;
}

.calc-btn.bg-orange {
    background: #b0f;
}
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Century Gothic';
    color: black;
}
header {
    position: absolute;
    height: 170px;
    width: 100%;
    background: #000000;
}
header p {
    font-size: 40px;
    height: 50%;
    margin-top: 20px;
    margin-left: 30px;
    color: white;
}
.head-but {
    background: black;
    margin-top: 115px;

}
.but {
    background: #0000;
    font-size: 20px;
    color: white;
    cursor: pointer;
    border: 2px solid #000;
    padding: 25px;
}
.but:hover {
      transition: 0.7s;
      cursor: pointer;
      text-decoration: underline white;
      text-underline-offset: 10px;
}
.but-white {
    font-size: 20px;
    color: black;
    background: white;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 40px;
    margin-right: 30px;
}
.settings {
    margin-top: 40px;
}
input {
    border: 2px solid #8d3bb3;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.subm {
    width: 332px;
    height: 50px;
    background: black;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.subm:hover {
      background-color:#1f1136;
      transition: 0.7s;
      cursor: pointer;
}
