*{
    margin: 0;
    padding: 0;
}
main {
    color: black;
}
header {
    position: absolute;
    height: 170px;
    width: 100%;
    background: #000000;
}
header p {
    font-size: 40px;
    margin-top: 10px;
    margin-left: 30px;
    color: white;
    font-family: 'Century Gothic';
}
li {
    font-family: 'Century Gothic';
    margin-left: 30px;
    font-size: 30px;
}
p {
    font-size: 30px;
    font-family: 'Century Gothic';
    line-height: 60px;
}
.but {
    background: #0000;
    font-size: 20px;
    color: white;
    cursor: pointer;
    border: 2px solid #000;
    padding: 25px;
}
.but-white {
    font-size: 20px;
    color: black;
    background: white;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 40px;
    margin-right: 30px;
}
.but:hover {
      transition: 0.7s;
      cursor: pointer;
      text-decoration: underline white;
      text-underline-offset: 10px;
}
.head-but {
    background: black;
    margin-top: 102px;
}
.main {
    margin-top: 40px;
    margin-left: 30px;
* {
    padding: 5px;
}