<title>Калькулятор</title>
<link rel="stylesheet" href="static/css/calc.css">
<header>
    <p>Student Multiprog - Калькулятор</p>
</header>
<br>
{% extends "head.html" %}

{% block content %}
<br>
<div class="calc">
    <div class="screen">
        <p>0</p>
    </div>
    <div class="buttons">
        <div class="calc-btn ac bg-grey">ac</div>
        <div class="calc-btn plus-minus bg-grey">+/-</div>
        <div class="calc-btn percent bg-grey">%</div>
        <div class="calc-btn division bg-orange">/</div>

        <div class="calc-btn seven">7</div>
        <div class="calc-btn eight">8</div>
        <div class="calc-btn nine">9</div>
        <div class="calc-btn multiply bg-orange">X</div>

        <div class="calc-btn four">4</div>
        <div class="calc-btn five">5</div>
        <div class="calc-btn six">6</div>
        <div class="calc-btn minus bg-orange">-</div>

        <div class="calc-btn one">1</div>
        <div class="calc-btn two">2</div>
        <div class="calc-btn three">3</div>
        <div class="calc-btn plus bg-orange">+</div>

        <div class="calc-btn zero">0</div>
        <div class="calc-btn dot">.</div>
        <div class="calc-btn equal bg-orange">=</div>
    </div>
</div>
<script type="application/javascript" src="static/js/calc.js"></script>

{% endblock %}