<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    <link rel="stylesheet" href="static/css/mdb.min.css" />-->
</head>
<body>
<h1>student's helper</h1>
<div class="head-but" align="center">
    <button class="but" onclick="window.location.href = '/formulas';">Формулы</button>
    <button class="but" onclick="window.location.href = '/calc';">Калькулятор</button>
    <button class="but" onclick="window.location.href = '/graph-calc';">Графический калькулятор</button>
    <button class="but" onclick="window.location.href = '/calendar';">Календарь</button>
    <button class="but" onclick="window.location.href = '/notes';">Заметки</button>
</div>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>