<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='css/sign_up.css') }}">
</head>
<body>
<header>
    <p> student's helper - регистрация</p>
</header>
<br>
<br>
<div class="a" align="center">
    <br>
    <p class="p1">Регистрация</p>
    <br>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <br>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <br>
        <p>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(class="form-control", type="password") }}<br>
            {% for error in form.confirm_password.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <br>
        <p>
            {{ form.username.label }}<br>
            {{ form.username(class="form-control") }}<br>
            {% for error in form.username.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <br>
        <p>{{ form.submit(type="submit", class="btn bt btn-primary") }}</p>
        <br>
        {{message}}
        <br>
    </form>
</div>
<br>
<br>
</body>
</html>